body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px 0px;
  background-color: #F3F4F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px;
  max-width: 50vw;
  min-width: 330px;
  border-radius: 6px;
  text-align: center;
}

.image-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

.image-container img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.info-container {
  flex: 2;
  padding: 20px;
  font-size: 1.4rem;
}

.info-container h2 {
  font-weight: bold;
  margin-bottom: 16px;
}

.info-container p {
  line-height: 1.5;
  margin-bottom: 16px;
}

.info-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

.info-container ul li {
  margin-bottom: 8px;
}

@media screen and (max-width: 1140px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    margin-bottom: 20px;
  }

  .image-container img {
    max-width: 300px;
  }

  .info-container {
    width: 100%;
    padding: 0;
    font-size: 1rem;
  }
}
